
.table-small thead,
.table-defasmallult tbody,
.table-small tfoot,
.table-small tr,
.table-small th,
.table-small td {
    border-color: transparent;
}

.table-small th {
    background-color: var(--grey-04);
}

.table-default tr, .table-default th, .table-default td {
    height: 40px;
}

.table-small tr, .table-small th, .table-small td  {
    height: 32px;
}

.table-large tr, .table-large th, .table-large td {
    height: 48px;
}